* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

.container {
    font-family: Arial, sans-serif;
    max-width: 1100px;
    /*width: 1100px;*/
}

.header {
    background: PaleGoldenRod;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
}

.menuitem {
    color: white;
    /*display: inline-block;*/
    background: BurlyWood;
    padding: 10px;
    /*margin: -2px;*/
    font-size: 18px;
    text-align: center;

}

.col {
    width: 25%;
}

.main {
    /*padding: 20px;*/
    background: Wheat;
    display: flex;
    flex-direction: row;
}

@media (max-device-width: 800px) {
    .col {
        width: 50%;
        /*background: blue;*/
    }
    .main {
        flex-direction: column;
    }
}

@media (max-device-width: 600px) {
    .item {
        display: none !important;
    }
    .item600 {
        display: flex !important;
    }

}

@media (max-device-width: 400px) {
    .col {
        width: 100%;

    }

}

.content{
    flex-direction: column;
    width: 100%;


}

.submenu {
    background: Beige;
    text-align: center;
    min-width: 300px;
    margin: 0;
    /*width: 100px;*/
    /*display: inline-block;*/
}

.submenuitem {
    background: Wheat;
    padding: 10px;
    margin: 20px 20px;
    /*max-width: 100px;*/

}



.item {
    /*display: inline-block;*/
    display: flex;
    padding: 20px;
    width: 100%;
    margin: 0 auto;
    background: red;
    /*justify-items: start;*/
    /*flex-direction: row;*/
    /*justify-content: space-between;*/
}

.item600{
    display: none;
    background: yellow;
    padding: 20px;
}

.item-id{
    width: 5%;
    margin: 0 auto;
}
.img{
    width: 50px;
}
.item-img{

    margin: 0 auto;
}
.item-name{
    width: 45%;
    margin: 0 auto;
}
.item-cat{
    width: 20%;
    margin: 0 auto;
}
.item-price{
    width: 15%;
    margin: 0 auto;
}
.item-link{
    width: 80px;
    margin: 0 auto;
}


.form-auth{
    margin-top: 100px;
}
.add_button{
    width: 200px;
    margin: 0 auto;
    margin-top: 20px;

}
.button{
    width: 200px;
    height: 50px;
}